In [1]:
%pip install request

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement request (from versions: none)
ERROR: No matching distribution found for request

[notice] A new release of pip available: 22.2.1 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import request

ModuleNotFoundError: No module named 'request'

In [2]:
!pip install polygon-api-client

Collecting polygon-api-client
  Downloading polygon_api_client-1.5.0-py3-none-any.whl (37 kB)
Requirement already satisfied: certifi<2023.0.0,>=2022.5.18 in c:\users\z0040jeb\desktop\machinelearning\data science\vscode\04_stockprediction\04_stockprediction\lib\site-packages (from polygon-api-client) (2022.6.15)
Requirement already satisfied: urllib3<2.0.0,>=1.26.9 in c:\users\z0040jeb\desktop\machinelearning\data science\vscode\04_stockprediction\04_stockprediction\lib\site-packages (from polygon-api-client) (1.26.11)
Collecting websockets<11.0,>=10.3
  Downloading websockets-10.4-cp38-cp38-win_amd64.whl (101 kB)
     -------------------------------------- 101.4/101.4 kB 2.9 MB/s eta 0:00:00
Installing collected packages: websockets, polygon-api-client
Successfully installed polygon-api-client-1.5.0 websockets-10.4

[notice] A new release of pip available: 22.2.1 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
from polygon import RESTClient
from polygon.rest import models

client = RESTClient("Fby8rnS50LF_iMJKDwWOpNG5zJ8r6UAs")

aggs = client.get_aggs(
    "AAPL",
    1,
    "day",
    "2022-04-04",
    "2022-04-12",
)
print(aggs)

[Agg(open=174.57, high=178.49, low=174.44, close=178.44, volume=76545983.0, vwap=177.4855, timestamp=1649044800000, transactions=630374, otc=None), Agg(open=177.5, high=178.3, low=174.415, close=175.06, volume=73401786.0, vwap=175.9791, timestamp=1649131200000, transactions=621541, otc=None), Agg(open=172.36, high=173.63, low=170.13, close=171.83, volume=89058782.0, vwap=171.7887, timestamp=1649217600000, transactions=769485, otc=None), Agg(open=171.16, high=173.36, low=169.85, close=172.14, volume=77594650.0, vwap=171.8049, timestamp=1649304000000, transactions=628352, otc=None), Agg(open=171.78, high=171.78, low=169.2, close=170.09, volume=76534208.0, vwap=170.5154, timestamp=1649390400000, transactions=614848, otc=None), Agg(open=168.71, high=169.03, low=165.5, close=165.75, volume=72246706.0, vwap=166.692, timestamp=1649649600000, transactions=677210, otc=None), Agg(open=168.02, high=169.87, low=166.64, close=167.66, volume=79265181.0, vwap=168.0916, timestamp=1649736000000, transactions=678461, otc=None)]

In [7]:
aggs

[Agg(open=174.57, high=178.49, low=174.44, close=178.44, volume=76545983.0, vwap=177.4855, timestamp=1649044800000, transactions=630374, otc=None),
 Agg(open=177.5, high=178.3, low=174.415, close=175.06, volume=73401786.0, vwap=175.9791, timestamp=1649131200000, transactions=621541, otc=None),
 Agg(open=172.36, high=173.63, low=170.13, close=171.83, volume=89058782.0, vwap=171.7887, timestamp=1649217600000, transactions=769485, otc=None),
 Agg(open=171.16, high=173.36, low=169.85, close=172.14, volume=77594650.0, vwap=171.8049, timestamp=1649304000000, transactions=628352, otc=None),
 Agg(open=171.78, high=171.78, low=169.2, close=170.09, volume=76534208.0, vwap=170.5154, timestamp=1649390400000, transactions=614848, otc=None),
 Agg(open=168.71, high=169.03, low=165.5, close=165.75, volume=72246706.0, vwap=166.692, timestamp=1649649600000, transactions=677210, otc=None),
 Agg(open=168.02, high=169.87, low=166.64, close=167.66, volume=79265181.0, vwap=168.0916, timestamp=1649736000000, transactions=678461, otc=None)]

In [8]:
import pandas as pd
df = pd.DataFrame(aggs)
df

,open,high,low,close,volume,vwap,timestamp,transactions,otc
0,174.57,178.49,174.440,178.44,76545983.0,177.4855,1649044800000,630374,None
1,177.50,178.30,174.415,175.06,73401786.0,175.9791,1649131200000,621541,None
2,172.36,173.63,170.130,171.83,89058782.0,171.7887,1649217600000,769485,None
3,171.16,173.36,169.850,172.14,77594650.0,171.8049,1649304000000,628352,None
4,171.78,171.78,169.200,170.09,76534208.0,170.5154,1649390400000,614848,None
5,168.71,169.03,165.500,165.75,72246706.0,166.6920,1649649600000,677210,None
6,168.02,169.87,166.640,167.66,79265181.0,168.0916,1649736000000,678461,None

In [13]:
df['Date'] = pd.to_datetime(df.timestamp, unit='ms')
df

,open,high,low,close,volume,vwap,timestamp,transactions,otc,Date
0,174.57,178.49,174.440,178.44,76545983.0,177.4855,1649044800000,630374,None,2022-04-04 04:00:00
1,177.50,178.30,174.415,175.06,73401786.0,175.9791,1649131200000,621541,None,2022-04-05 04:00:00
2,172.36,173.63,170.130,171.83,89058782.0,171.7887,1649217600000,769485,None,2022-04-06 04:00:00
3,171.16,173.36,169.850,172.14,77594650.0,171.8049,1649304000000,628352,None,2022-04-07 04:00:00
4,171.78,171.78,169.200,170.09,76534208.0,170.5154,1649390400000,614848,None,2022-04-08 04:00:00
5,168.71,169.03,165.500,165.75,72246706.0,166.6920,1649649600000,677210,None,2022-04-11 04:00:00
6,168.02,169.87,166.640,167.66,79265181.0,168.0916,1649736000000,678461,None,2022-04-12 04:00:00